body {
  height: 100vh;
  font-weight: 400;
  font-family: "Poppins";
}

.columns-login-wrapper {
  display: flex;
  height: 100%;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 50%;
  box-shadow: 2px 12px 43px -29px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in;
}

.right {
  width: 50%;
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.5s ease-in;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 20px;
}

.title-login {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.title-p {
  font-size: 16px;
  color: #525252;
}

.input-form {
  width: 300px;
  height: 52px;
  padding-left: 3rem;
  padding-top: 0.1rem;
  font-size: 15px;
  background-color: rgba(240, 237, 255, 0.8);
  border-radius: 16px;
  border: none;
}

.input-form:focus {
  outline: none;
  transition: all 0.5s ease;
  box-shadow: 2px 12px 45px -20px rgba(200, 60, 255, 0.377);
}

.icon-input i {
  position: absolute;
  margin-bottom: 10px;
}

.icon {
  padding: 2px 0px 10px 2cqmin;
  margin-top: 1rem;
  font-size: 23px;
  text-align: center;
}

.button-login {
  background-image: linear-gradient(to right, #8d5fa891 0%, #5038edb0 51%, #b087c791 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.button-login:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 6px 2px 29px -4px rgba(255, 0, 255, 0.5);
}

.glass {
  display: flex;
  padding: 1rem;
  width: 412px;
  height: 524px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-p {
  width: 200px;
  line-height: 46px;
  font-weight: bold;
  color: white;
  font-size: 29px;
}

.img-women {
  width: 100%;
  height: 100%;
}

.img-woman-wrapper {
  width: 350px;
  height: 97.5%;

  position: absolute;
  margin-left: calc(35% - 36px);
}

.circle-thunder {
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
  display: block;
  padding: 1rem;
  margin: 230px -50px 0px 0px;
  z-index: 999;
}

.toast {
  display: flex;
  
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  margin-left: 30px;

  min-width: 150px;
  padding: 10px;
  
  height: 40px;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255);
  border-left: 10px solid rgb(255, 255, 255);

  transition: all 0.5s ease-in;

}

.invisible {
 
  transform: translateX(-100%);
  opacity: 0;
}


.alert {
  border: 3px solid rgb(255, 239, 21);
  border-left: 10px solid rgb(255, 239, 21);
  color: rgb(213, 224, 53);
  
}

.error {
  border: 3px solid rgb(255, 112, 112);
  border-left: 10px solid rgb(255, 112, 112);
  color: rgb(192, 76, 76);
}

.success {
  border: 3px solid rgb(145, 255, 112);
  border-left: 10px solid rgb(145, 255, 112);
  color: rgb(101, 201, 70);
  width: 30%;
  transform: translateX(100%);
  
  opacity: 1;
}

@media (max-width: 1100px) {
  .columns-login-wrapper {
    overflow: hidden;
  }
  .right {
    width: 0%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;

    visibility: visible;
    opacity: 0;
  }
  .left {
    width: 100%;
    transition: all 0.5s ease-in;
  }
}
